* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#iau9 {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(165deg, black 14%, rgba(29, 9, 41, 1) 97%);
  background-position: 0px 0px;
  background-size: 100% 100%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-origin: padding-box;
  color: #475569;
}

@font-face {
  font-family: 'WhiteOnBlack';
  src: url('./Fonts/White On Black.ttf') format('truetype');
}

@font-face {
  font-family: 'romantic';
  src: url('./Fonts/romantic.ttf') format('truetype');
}

h1 {
  font-family: 'WhiteOnBlack', Arial, sans-serif;
}

p {
  font-family: 'romantic', Arial, sans-serif;
}